<h3 class="text-center">About</h3>
  <p class="text-center">
    こちらのサイトはGOLF NAVIです。<br>
    ゴルフ場についてのコミュニティサイトです。<br>
    老若男女問わずゴルフが好きな人の為に。<br>
    初心者から上級者までゴルフ場を選ぶ際の<br>
    判断材料として貰えれば幸いです。<br>
    是非どなたでもご利用ください。
    enjoy golf
  </p>

<div class="text-center">
  <%= image_tag "golftop.jpg", size:"640×426" %>
</div>