<h3 class="text-center">About</h3>
  <p class="text-center">
    こちらのサイトはGOLF NAVIです。<br>
    ゴルフ場についてのコミュニティサイトです。<br>
    老若男女問わずゴルフが好きな人の為に。<br>
    初心者から上級者までゴルフ場を選ぶ際の<br>
    判断材料として貰えれば幸いです。<br>
    是非どなたでもご利用ください。
  </p>

<div class="text-center">
  <%= image_tag "19F07158-B4DC-43D9-BC9F-2FA0707C115E_1_105_c.jpeg", size:"640×426" %>
</div>