<h3 class="text-center">初心者の方も必見！ゴルフ場での最低限のマナー<i class="fa-solid fa-triangle-exclamation"></i></h3>
<br>
 <div id="c1">
   <ul id="c2">
    <h3>1.ゴルフ場での服装</h3>
      男性・女性ともに襟付きのトップスとパンツルック、ゴルフシューズ着用が基本となります。<br>
      ただ、敷居の高いゴルフ場だとジャケット着用などの指定がある場合もあります。<br>
      ※NGな服装の代表例としては、Tシャツ、ジーンズ、ジャージ、サンダルなどが挙げられます。<br>
      <br>
    <h3>2.全般的なマナー</h3>
      1.時間に遅れない<br>
      基本的な事ではありますが遅れる事によりゴルフ場の方に迷惑を掛けてしまいます。<br>
      万が一遅れそうな時は早めにゴルフ場に連絡を入れましょう。<br>
      遅くとも30分前にはゴルフ場に着くのが無難ですが１時間前以上に着いておく事が好ましいです！<br>
      <br>
      2.スロープレイをなるべく避けましょう<br>
      ゴルフ場で実際にプレーしているのは自分達だけではないのでスロープレイをしてしまう事により<br>
      前後の人達であったり他の人々の進行を妨げる事になってしまいます。<br>
      <br>
      3.グリーンについて<br>
      まず、何よりもグリーンの上を走らない事です！<br>
      芝を傷つけてしまいます。他の人達も使用する場所ですのでそこら辺には注意しておきましょう！<br>
      そしてグリーン上にボールが落ちた時に芝生にできるくぼみをボールマークといい、直すのがマナーです！<br>
      グリーンフォークで芝を寄せてしっかり直してあげましょう。<br>
      <br>
    <h3>3.最後に！</h3>
      まだまだ細かい所は沢山ありますが最低限必ず皆様が気持ち良くプレー出来るようにルールは守りましょう！<br>
      初心者の方もこんなにも細かいルールがあるのかと少し気が引けてしまうかもしれませんがプレーを重ねる内に<br>
      次第にわかるようになっていきます！是非楽しいゴルフ生活を送って頂ける助けになると幸いです。<br>
      <br>
   </ul>
 </div>
<h3 class="text-center">ENJOY GOLF</h3>