@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.w-200px {
  width: 200px;
}

.w-150px {
  width: 150px;
}

#c1 { text-align: center; }
#c2 { text-align: left; margin-left: auto; margin-right: auto; width: 900px; }