@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.w-200px {
  width: 200px;
}

.w-150px {
  width: 150px;
}

.gradient {
	background:linear-gradient(#A4C6FF, #fff);
	border: 1px solid #333;
}