<div class='container'>
  <div class='row'>
    <div class='col-md-8 offset-2'>
      <h1 class="my-4 mt-5 text-center">
        ようこそGOLF NAVIへ！<br>
        会員登録ありがとうございます。<br>
        是非良いゴルフLIFEをお送りください。<br>
      </h1>
    </div>
  </div>
</div>